.headerbackground {
    background-color: cornflowerblue;
    padding: 0pt 0pt 50pt 0pt;
    width: auto;
    height: fit-content;
    display: block;
    align-items: center;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;
}

.footerbackground {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: dimgrey;
    width: auto;
    height: fit-content;
    display: block;
    padding: 0pt 0pt 40pt 0pt;
    align-items: center;
    border-radius: 50% 50% 0 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 97%;
    align-items: center;
    display: inline-block;
    margin: 0pt 5pt 0pt 5pt;
}

.header {
    position: fixed;
    top: 0pt;
    left: 0;
    width: 97%;
    margin: 0;
    align-items: center;
    padding: 0px 0px 5px 30px;
    overflow: hidden;
    display: inline-block;
    float: none;
    background-color: cornflowerblue;
    border-radius: 0 0 50% 50%;
    border: 2pt black dotted;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15;
    background-color: rgb(26, 182, 130);
    font-size: 18pt;
    display: block;
    ;
}

.navitem {
    display: inline-block;
    box-sizing: content-box;
    padding: 0px 8px 0px 8px;
}

body {
    background-image: url("new_background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}

a:active {
    text-decoration: none;
    color: chocolate;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: cornflowerblue;
    padding: 1pt 1pt 1pt 1pt;
    border-radius: 15px;
    display: inline-block;
    color: blueviolet;
    border: 2pt dotted black;
}

.headline {
    padding: 1%;
    text-align: center;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.static {
    color: aliceblue;
}

.WrapGrid {
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 4fr;
    column-gap: 20pt;
    grid-template-areas: "header header header" "one.." "two third third third third" "two third third third third"
}

.one {
    display: block;
}

.two {}

.third {
    float: right;
}

.HomeImage {
    height: 78pt;
    width: auto;
    border-radius: 50%;
    float: left;
}